@{
	ViewData["Title"] = "Tree Details";
}

@model MyTree

<div class="text-center">
	<h1 class="display-4">Tree Details</h1>
	<p>Details for the selected tree.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>TreeCount</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.Name</td>
				<td>@Model.Description</td>
				<td>@Model.TreeCount</td>
			</tr>
		</tbody>
	</table>
</div>
